
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/IP-Git/v16/ipch/AutoPCH/901a9c027df46839/MAIN.ipch
.vs/IP-Git/v16/Browse.VC.opendb
.vs/IP-Git/v16/Browse.VC.db-wal
.vs/IP-Git/v16/Browse.VC.db-shm
.vs/IP-Git/v16/Browse.VC.db
.vs/IP-Git/v16/.suo
